#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rootdiv {
  width: 100%;
  height: auto;
}

a {
  color: white;
  font-size: var(--step--2);
}

svg {
  width: 1200px;
  height: 800px;
  position: block;
}

.title {
  font-family: "Doto", serif;
  font-variation-settings: "ROND" 0;
  font-optical-sizing: auto;
  font-style: normal;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 20px;
  font-weight: 900;
  letter-spacing: -1;
  font-size: var(--step-3);
}

.chart_title {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 0px;
  font-weight: 300;
  font-size: var(--step--2);
}

.support {
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
  font-weight: 500;
  border-radius: 10px;
}

.investor {
  color: #8AFFF9;
  /* background-color: #3bf4fb; */
}

.investment {
  color: #caff8a;
  /* background-color: #caff8a; */
}

.relation {
  color: #BE8AFF;
  /* background-color: #caff8a; */
}

.footer {
  margin-bottom: 4px;
  margin-left: 20px;
  margin-top: 0px;
  font-weight: 400;
  font-size: var(--step--3);
}

nav {
  display: flex;
  justify-content: left;
  margin-left: 20px;
}

ul {
  list-style: none;
  text-align: center;
  border-width: 2px;
  background: #264194;
  padding: 2px;
}

ul li {
  float: left;
  text-align: center;
  padding: 2px 2px 2px 2px;
  ;
  font-size: large;
  border-right: 0px solid;
}

ul li:last-child {
  border-right: 0 solid;
}

ul li a {
  text-decoration: none;
}

ul li a:hover {
  color: white;
}