#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rootdiv {
  width: 100%;
  height: auto;
}

svg {
  width: 1200px;
  height: 800px;
  position: block;
}

.title {
  font-family: "Doto", serif;
  font-variation-settings: "ROND" 0;
  font-optical-sizing: auto;
  font-style: normal;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 20px;
  font-weight: 900;
  letter-spacing: -1;
  font-size: var(--step-4);
}

.chart_title {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 0px;
  font-weight: 400;
  font-size: var(--step--1);
}

.support {
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
  font-weight: 500;
  border-radius: 10px;
}

.investor {
  color: #8AFFF9;
}

.investment {
  color: #caff8a;
}

.relation {
  color: #BE8AFF;
}

.explain {
  margin-bottom: 5px;
  margin-left: 20px;
  margin-top: 0px;
  font-weight: 500;
  font-size: var(--step--3);
}

a {
  color: #8AFFF9;
  font-size: var(--step--2);
  font-weight: 500;
}

nav {
  display: flex;
  justify-content: left;
  margin-left: 20px;
}

ul {
  list-style: none;
  text-align: center;
  border-width: 0px;
  background: none;
  padding: 0.2px;
}

ul li {
  float: left;
  text-align: center;
  padding: 6px 6px 6px 6px;
  margin: 0px 4px 4px 4px;
  border-bottom: 0.01px dashed #8AFFF9;
  border-right: 0.01px dashed #8AFFF9;
  border-left: 0.01px dashed #8AFFF9;
  border-top: 0.01px dashed #8AFFF9;
}

ul li:last-child {
  border-right: 0.01px dashed #8AFFF9;
}

ul li a {
  text-decoration: none;
}

ul li a:hover {
  font-weight: 900;
}